.h-33 {
    height: 33%;
}

.h-66 {
    height: 66%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;

}

 .fs-12{
    font-size: 12px;
 }
  .fs-10{
    font-size: 10px;
 }

.object-fit-contain {
    object-fit: contain;
}

.scroll-y {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1px;
    background-image: url("https://wallpapers.com/images/high/grey-wood-background-xkm2d2jo03l2j1ik.webp");
    background-size: cover;
    width: 74vw;
    height: 90vh; 
    padding: 10px;  
}


#ArchivesRoom {
    grid-row: 8/ 13;
    grid-column: 10/ 13;
   
}

#StaffRoom {
    grid-row: 8/ 13;
    grid-column: 7/ 10;
}

#SecurityRoom {
    grid-row: 1 / 6;
    grid-column: 10 / 13;
}

#ServerRoom {
    grid-row: 1 / 6;
    grid-column: 7/10;
}

#Reception {
    grid-row: 1/ 6;
    grid-column: 1 / 6;
}

#ConferenceRoom {
    grid-row: 6 / 13;
    grid-column: 1 / 6;
}